.excercise{
  padding: 10px;
}
.excercise a{
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 20px;
  font-size: 17px;
  line-height: 20px;
  min-height: 21px;
  padding: 7px 18px 8px;
  font-weight: 700;
}

